<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro - MarketControl</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>
<body class="login">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6">
                <h1>Crie sua conta</h1>
                <p>Junte-se ao MarketControl para gerenciar seus produtos de forma rápida e eficiente.</p>
                <img src="{{ url_for('static', filename='images/frutas.png') }}" alt="Alimentos" class="img-fluid">
            </div>
            <div class="col-md-6">
    <h1>Dados de Cadastro</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <ul class="list-unstyled">
        {% for category, message in messages %}
            
            {% set classe_alerta = category if category != 'message' else 'danger' %}
            
            <li class="alert alert-{{ classe_alerta }}">{{ message }}</li>
            
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}

    <form method="POST" action="{{ url_for('cadastrar') }}">
        {{ form.csrf_token }}

        <div class="form-group">
            {{ form.nome.label(class="form-label") }}
            {{ form.nome(class="form-control", placeholder="Ex: Ewerton Gomes") }}
        </div>

        <div class="form-group">
            {{ form.nickname.label(class="form-label") }}
            {{ form.nickname(class="form-control", placeholder="Seu nome de usuário") }}
        </div>

        <div class="form-group">
            {{ form.senha.label(class="form-label") }}
            {{ form.senha(class="form-control", placeholder="Crie uma senha forte") }}
        </div>

        <div class="form-group mt-4">
            {{ form.cadastrar(class="btn btn-success btn-block w-100") }}
            <a class="btn btn-secondary btn-block w-100 mt-2" href="{{ url_for('login') }}">Já tenho conta (Login)</a>
        </div>
    </form>
</div>
</body>
</html>